<h2>
  家一覧
  <%= link_to "家の登録はこちら", new_house_path, class: "header-menu" %>
</h2>
<ul>
  <% @houses.each do |house| %>
  <li>
    <%= link_to house.house_name, house_path(house) %>
    <%= link_to "登録内容の編集", edit_house_path(house), class: "command" %>
  </li>
  <% end %>
</ul>
